html, body{
	padding: 0;
	overflow: auto!important;
}

.gallery-1-img a{
	cursor: pointer!important;
}
.full-image img{
	cursor: auto!important;
}
.full-image{
	cursor: pointer!important;
}
embed{
	width: 100%!important;
	height: 931px!important;
}