#parallax-image {
    background-image: url("../img/service back.jpg"), linear-gradient(to right, white, gray);
    min-height: 89vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.logo.text-left{
	opacity: 0!important;
}
.text-animation a{
	color: #fff;
}
.div-1{
	background-color: #b8c4ba;
}
.div-2{
	background-color: #dae5a9;
}
.div-2 h1{
	box-sizing: border-box;
    font-size: 1.6rem;
    padding: 35px 0 30px 29px;
    font-weight: 400;
    color: #606062;
}
@media(max-width: 767px){
	.div-2 h1{
	    font-size: 1.3rem;
	}
}

/* branding-drop */

.back{
	padding: 80px 0 0 0;
}


.background-img {
    background-color: #504e4e;
    height: 92vh;
    background-image: url("../img/backg-attach-fullhd.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 1280px){
	.background-img {
		background-image: url("../img/backg-attach-hd.png");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
	.text-slogan {
	    font-size: 2rem!important;
	}
	.advertising-text {
	    font-size: 1rem!important;
	    padding-right: 58px!important;
	    padding-bottom: 167px!important;
	}
}
@media(max-width: 991px){
	.div-2 h1 {
	    box-sizing: border-box;
	    font-size: 1.6rem;
	    padding: 35px 0 30px 40px;
	    font-weight: 400;
	    color: #606062;
	}
	.background-img {
	    background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
	.back{
		background-color: rgba(0,0,0,0);
	}
}
@media(max-width: 480px){
	.back {
	    padding: 30px 0 245px 0!important;
	}
	.text-slogan {
	    font-size: 1.5rem!important;
	}
	.advertising-text {
	    font-size: 1rem!important;
	    padding-right: 0!important;
	    line-height: 1.4;
	}
}
.text-slogan{
	font-size: 3rem;
    color: #fff;
    font-weight: 600;
}
.advertising-text{
	color: #fff;
    font-size: 1.2rem;
    padding-right: 199px;
    padding-bottom: 30px;
}

@media(max-width: 1540px){
	.text-slogan, .advertising-text{
	    margin-left: 15px;
	}
}
@media(max-width: 1199px){
	.text-slogan, .advertising-text{
	    margin-left: 0;
	}
}

/* branding-drop */

/* video */
.back-1{
	padding: 80px 0 0 0;
}
.background-img-1 {
    background-color: #504e4e;
    height: 88vh;
    background-image: url("../img/backg-attach-fullhd-04.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.advertising-text-0{
	color: #fff;
    font-size: 1.2rem;
    padding-right: 199px;
}
.advertising-text-1{
	color: #fff;
    font-size: 1.2rem;
    padding-right: 199px;
    padding-bottom:52px;
}
@media(max-width: 1540px){
	.text-slogan, .advertising-text-1, .advertising-text-0{
	    margin-left: 15px;
	}
}
@media(max-width: 1280px){
	.text-slogan {
	    font-size: 2rem!important;
	}
	.advertising-text-0 {
	    font-size: 1rem!important;
	    padding-right: 58px!important;
	    padding-bottom: 167px!important;
	}
	.advertising-text-1 {
	    font-size: 1rem!important;
	    padding-right: 58px!important;
	    padding-bottom: 167px!important;
	    margin-top: -158px
	}
}
@media(max-width: 1199px){
	.text-slogan, .advertising-text-1, .advertising-text-0{
	    margin-left: 0;
	}
}
@media(max-width: 991px){
	.background-img-1 {
	    background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991-05.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
    	background-position-y: 67px;
	}
	.back-1{
		background-color: rgba(0,0,0,0);
	}
	.advertising-text-1, .advertising-text-0{
		padding-right: 0!important;
	}
}
/* video */

/* graphic design */
.background-img-2 {
    background-color: #504e4e;
    height: 88vh;
    background-image: url("../img/backg-attach-fullhd-06.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 1280px){
	.background-img-2 {
		background-image: url("../img/backg-attach-hd-07.png");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
@media(max-width: 991px){
	.background-img-2 {
	    background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991-08.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}

/* graphic design */


@media(max-width: 428px){
	.div-2 h1 {
	    box-sizing: border-box;
	    font-size: 1.6rem;
	    padding: 35px 0 30px 14px;
	    font-weight: 400;
	    color: #606062;
	}
}

/* event-management */
.background-img-3 {
    background-color: #504e4e;
    height: 88vh;
    background-image: url("../img/backg-attach-fullhd-09.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 1280px){
	.background-img-3 {
		background-image: url("../img/backg-attach-hd-10.png");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
@media(max-width: 991px){
	.background-img-3 {
	    background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991-11.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
/* event-management */


/* social-media */
.background-img-4 {
    background-color: #504e4e;
    height: 88vh;
    background-image: url("../img/backg-attach-fullhd-09-12.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 1280px){
	.background-img-4 {
		background-image: url("../img/backg-attach-hd-10-13.png");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
@media(max-width: 991px){
	.background-img-4 {
	    background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991-14.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
/* social-media */

/* print */
.background-img-5 {
    background-color: #504e4e;
    height: 88vh;
    background-image: url("../img/backg-attach-fullhd-09-14.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 1280px){
	.background-img-5 {
		background-image: url("../img/backg-attach-hd-10-15.png");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
@media(max-width: 991px){
	.background-img-5 {
	    background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991-16.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
/* print */

/* radio jingle */
.background-img-6 {
    background-color: #504e4e;
    height: 88vh;
    background-image: url("../img/backg-attach-fullhd-06-16.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 991px){
	.background-img-6 {
	    background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991-17.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}

/* radio jingle */

/* outdoor */
.background-img-7 {
    background-color: #504e4e;
    height: 88vh;
    background-image: url("../img/backg-attach-fullhd-06-17.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media(max-width: 1280px){
	.background-img-7 {
		background-image: url("../img/backg-attach-hd-18.png");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
@media(max-width: 1024px){
	.background-img-7 {
		background-image: url("../img/backg-attach-1024-19.png");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
@media(max-width: 991px){
	.background-img-7 {
		background-image: linear-gradient(rgba(80,78,79,.5),rgba(80,78,79,.5)), url("../img/background-attachment-991-20.jpg");
		background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}
}
/* outdoor */

/* contact */
.map iframe{
	height: 90vh;
	display: block;
}
.adress{
	font-size: 17px;
}
.tel{
	font-size: 17px;
	margin-top: 30px;
	margin-bottom: 0;
}
.tel-0{
	font-size: 17px;
	margin-bottom: 0;
}
.tel-1{
	font-size: 17px;
	margin-bottom: 0;
}
.mail{
	font-size: 17px;
	margin-top: 30px;
}
.dir{
	font-size: 17px;
	margin-top: 30px;
}
.mt-4 a{
	color: #212529;
}
.mt-4 a:hover{
	text-decoration: none;
}
label{
	font-size: 17px;
}
.btn-primary {
    color: #fff;
    background-color: #36beb8;
    border-color: #36beb8;
}
.btn-primary:hover {
    color: #fff;
    background-color: #345c64;
    border-color: #3c5b61;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #36beb8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(54, 190, 184, 0.25);
}
.form-control::placeholder {
  color: #6c757d;
  opacity: .5;
}
/*.formus{
	background-image: linear-gradient(to right, transparent, #ededed);
}*/
/* contact */


/* branding */
.blood-h {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .4s;
    font-size: 30px;
    padding-top: 23%;
    padding-bottom: 22%;
    padding-left: 40px;
    padding-right: 40px;
}
.egis-h {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .4s;
    font-size: 30px;
    padding-top: 26%;
    padding-bottom: 22%;
}
@media(max-width: 1280px){
	.blood-h .blood-h-h2 {
	    font-size: 28px;
	}
}
@media(max-width: 1199px){
	.blood-h .blood-h-h2 {
	    font-size: 30px!important;
	}
}
@media(max-width: 991px){
	.blood-h .blood-h-h2 {
	    font-size: 3vw!important;
	}
}
@media(max-width: 767px){
	.logo-design{
		font-size: 1.1rem;
	}
}
@media(max-width: 560px){
	.blood-h {
	    padding-top: 16%;
	}
}
.logo-design{
	font-weight: 400;
}

/* branding */


/* egis-calendar */

.gallery-1-img a {
    cursor: pointer;
}
.zoom-in a {
    cursor: zoom-in;
}

/* egis-calendar */