html, body{
	/*width: 100%;*/
	overflow-x: hidden!important;
	/* width: 100% მჭირდება ჰორიზონტალური სქროლის გამოსავლენად, overflow-x: hidden მჭირდება ჰორიზონტალური სქროლის გასაუქმებლად */
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar{
	border-bottom: 1px solid #e6e7e8;
}
.container{
	max-width: 1500px;
}
.LangSwitcher .social-li,
.ka{
	font-size: 14px;
	color: #345c64;
	transition: 0.3s;
}
.social-li-fa .fab{
	transition: 0.3s;
	font-size: 25px;
	padding-right: 0;

}
.ka:hover{
	text-decoration: inherit;
	color: #36beb8;
}
.social-li-fa{
	/*margin-right: 20px;*/
	/* ფეისბუკის მიწევა მარჯვნივ */
}
.fixed-top{
	position: sticky;
	background-color: #fff;
	/*padding-top: 21px;*/
}
/*.dropdown:hover> .dropdown-menu{
	margin-top: 41px;
	display: block;
}*/

/*.dropdown:hover .dropdown-menu{
	display: block;
}*/
/* dropdown:hover-ის პირველი და მეორე ვარიანტი. თუმცა როცა margin-top-ი მინდა navbar-ისგან დავწიო მაშინ ცუდად მუშაობს, ამიტომ ჯობს ჯავასკრიპტის ვარიანტი. */
/*navLink.has-subitems.is-hovered+.StickyPanel-subLinks*/
/*@media all and (min-width: 992px) {*/
/*	.navbar .nav-item .dropdown-menu{
		display:block; 
		opacity: 1;
		visibility: hidden; 
		transition:.3s;
		margin-top:41px;
	}*/
	.navbar .nav-item:hover .nav-link{
		color: #36beb8;
	}
	.navbar .nav-item:hover .nav-link::before{
		content: "";
		position: absolute;
		border: .1em solid #36beb8;
		width: 4.5em;
		height: 4.5em;
		margin-top: -1.5em;
    	margin-left: -.5em;
	    border-radius: 50%;
		transform: scale(1);
		opacity:1;
	}
	/*dropdown-menu, dropdown:hover-ის მესამე ვარიანტი ჯავასკრიპტის ვარიანტისგან იმით განსხვავდება, რომ როცა Service-ზე dropdown-menu ჩამოიშლება hover-ი რჩება აქტიური. თუმცა ყველაზე კარგი ვარიანტია, როცა ჯავასკრიპტს ვიყენებ .navbar .nav-item:hover .nav-link-თან ერთად, .navbar .nav-item .dropdown-menu უნდა იყოს გამორთული. თუ მინდა service-ზე მაუსის მიტანისას აგრეთვე დარჩეს როცა dropdown-menu-ზე ჩამოვდივარ უნდა გავააკტიურო .navbar .nav-item:hover .nav-link::after */
/*	.navbar .dropdown-menu.fade-down{
		top:80%; 
		transform: rotateX(-75deg); 
		transform-origin: 0% 0%;
	}
	.navbar .dropdown-menu.fade-up{
		top:180%;
	}
	.navbar .nav-item:hover .dropdown-menu{
		transition: .3s; 
		opacity:1; 
		visibility:visible; 
		top:100%; 
		transform: rotateX(0deg);
	}*/
/*}*/

/*საბმენიუს ამბები*/
/*.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}*/
.dropdown-menu.show {
  display: block;
}
/*საბმენიუს ამბები*/


.navigation-a:hover::after{
	transform: scale(1);
	opacity:1;
}
.circle-services:hover::before{
	transform: scale(1);
	opacity:1;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1.5rem 1rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgba(52,92,100,.85);
    background-blend-mode: multiply;
    background-clip: padding-box;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    border-radius: 0.25rem;
	margin-top: 41px;
}
.dropdown-item{
    display: block;
    width: 100%;
    padding: .7rem 1.5rem;
    clear: both;
    font-weight: 600;
    color: #FFF;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    transition: 0.3s;
}
.dropdown-item:hover, .dropdown-item:focus{
    color: #bdbfc1;
    text-decoration: none;
    background-color: transparent;
}
/*.dropdown-item.active, .dropdown-item:active{
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}*/

.logo{
	width: 150px;
}
.social-icon{
	align-items: center;
}
.navigation-a{
	color: #345c64;
	text-decoration: inherit;
	padding: 0 20px;
	font-size: 18px;
}
.navigation-a:hover{
    color: #36beb8;
    text-decoration: inherit;
}
.circle-about::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -3.6em;
    border-radius: 50%;
    transform: scale(.2);
    opacity: 0;
    transition: transform .3s, opacity .3s;
}
.circle-work::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.50em;
    margin-left: -3.4em;
    border-radius: 50%;
    transform: scale(.2);
    opacity: 0;
    transition: transform .3s, opacity .3s;
}
.circle-branding::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -4.25em;
    border-radius: 50%;
    transform: scale(.2);
    opacity: 0;
    transition: transform .3s, opacity .3s;
}
.circle-clients::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -3.75em;
    border-radius: 50%;
    transform: scale(.2);
    opacity: 0;
    transition: transform .3s, opacity .3s;
}
.circle-services::before{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -.5em;
    border-radius: 50%;
    transform: scale(0.2);
    opacity: 0;
    transition: transform .3s, opacity .3s;
}

.circle-contacts::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -4.2em;
    border-radius: 50%;
    transform: scale(.2);
    opacity: 0;
    transition: transform .3s, opacity .3s;
 }
.social-li{
	padding-left: 20px;
	color: #345c64;
	text-decoration: inherit;
	font-size: 18px;
	transition: 0.3s;
}
.social-a-num{
	color: #345c64;
	text-decoration: inherit;
	font-size: 18px;
	transition: 0.3s;
}

.social-li,
.social-a-num:hover{
	/*padding-left: 20px;*/
	color: #36beb8;
	text-decoration: inherit;
}
.social-a{
	color: #36beb8;
}
a:hover{
	color: #353536;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    /*padding-bottom: 0.3125rem;*/
    padding: 1.45rem 0;
    margin-right: 0;
    /*margin-right: 1rem; ეს არის ლოგოს სტანდარტული margin-ის ზომა.*/
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.social-a-num{
	padding-right: 20px;
}
span .ka{
	padding-right: 20px;
}

.social-li::after{
	position: absolute;
	content: "";
	height: 100%;
	width: 1px;
	background-color: #e6e7e8;
	top: 0;
}
.social-li:nth-child(1)::after,
.social-li:nth-child(3)::after{
	display: none;
}
.LangSwitcher-en{
	padding-bottom: .5rem!important;
}

#parallax-image{
	background-image: url("../img/01.jpg");
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#parallax-image-1{
	background-image: url("../img/03.jpg");
	width: 100%;
	/*min-height: 80vh;*/
	padding-bottom: 2rem;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*animation text opacity (anim on scroll)*/
.text-left-1{
	position: relative;
	font-family: sans-serif;
	color: rgba(255,255,255,0);
	padding-top: 106px;
	padding-left: 120px;
	font-size: 5.5vw;
	font-weight: 600;
}
.text-left-1::before{
	content: attr(data-text);
	position: absolute;
	color: #fff;
	width: 0%;
	overflow: hidden;
	transition: 6s;
	transform-origin: left;
}
.text-left-1[data-scroll="in"]::before{
	width: 90%;
	/* 90% ვწერ იმიტომ, რომ 100%-ზე ჰორიზონტალურ სქროლს იკეთებს მობილურზე */
}
/*animation text opacity (anim on scroll)*/

.text-p{
	font-family: sans-serif;
	color: #606062;
	padding-top: 60px;
	padding-left: 120px;
	padding-top: 30px;
	padding-right: 118px;
	font-size: 29px;
}
/* slick-slider */
.arrow-prev{
	position: absolute;
	left: -0.125rem;
	margin-top: -9.25rem;
	background-color: rgba(53,53,54,.5);
	width: 2rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}
.arrow-next{
	position: absolute;
	right: -0.125rem;
	margin-top: -9.25rem;
	background-color: rgba(53,53,54,.5);
	width: 2rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
}
.arrow-prev img{
	width: 70%;
}
.arrow-next img{
	width: 70%;
}
.slick-slider{
	position: relative;
	/*display: flex;*/
	padding-top: 3rem;
}
.slick-slider .items{
	width: 350px;
	height: 250px;
	overflow: hidden;
	text-align: center;
}
.items img:hover{
	transform: scale(1.15);
}
.items img{
	min-width: 100%;
	height:100%;
	object-fit: cover;
	transition: 1.3s;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.slider-branding-txt,
.slider-event-txt,
.slider-graphic-txt,
.slider-outdoor-txt,
.slider-print-txt,
.slider-radio-txt,
.slider-social-txt,
.slider-video-txt{
	background-color: rgba(114,115,118,.5);
	width: 100%;
	padding: 0.625rem 0;
    text-align: center;
    margin-top: -1.063rem;
	transform: translateY(-2.12rem);
	transition: .3s;
}
.slick-slider .branding:hover .slider-branding-txt,
.slick-slider .event:hover .slider-event-txt,
.slick-slider .graphic:hover .slider-graphic-txt,
.slick-slider .outdoor:hover .slider-outdoor-txt,
.slick-slider .print:hover .slider-print-txt,
.slick-slider .radio:hover .slider-radio-txt,
.slick-slider .social:hover .slider-social-txt,
.slick-slider .video:hover .slider-video-txt{
	background-color: #00afef;
}
.slider-branding-txt h3,
.slider-event-txt h3,
.slider-graphic-txt h3,
.slider-outdoor-txt h3,
.slider-print-txt h3,
.slider-radio-txt h3,
.slider-social-txt h3,
.slider-video-txt h3{
	font-size: 1.25rem;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateY(0.27rem);
}
.items a:hover{
	text-decoration: none;
}
/* slick-slider */
a{
	transition: 0.3s;
}
.logo-left{
	padding-top: 3rem;
}
.text-left .text-left{
	font-size: 2.2rem;
	color: #345c64!important;
	padding-top: 20.5rem;
	font-family: sans-serif;
}
/* text animation */
.text-animation{
	padding-top: 6rem;
	text-transform: uppercase;
	font-family: sans-serif;
}
.animation-a-br:hover,
.animation-a-vi:hover, 
.animation-a-pro:hover,
.animation-a-gr:hover,
.animation-a-pr:hover,
.animation-a-so:hover,
.animation-a-ev:hover{
	color: #00afef!important;
	text-decoration: none;
}
.text-right{
	line-height: 1;
}
.animation-a-br{
	color: #39aca7;
	font-size: 3.6rem;
	font-weight: 700;
}
.text-right.anim-br{
	animation-name: anim-br;
	animation-duration: 1.68571s;
}
@keyframes anim-br{
	from{
		transform: translate3d(-250%, 0, 0);
    	}
    to{
    	transform: translate3d(0, 0, 0);
    	}
 }
.animation-a-vi{
	color: #8aac8f;
	font-size: 3.6rem;
	font-weight: 700;
}
.text-right.anim-vi{
	animation-name: anim-vi;
	animation-duration: 1.75555s;
}
@keyframes anim-vi{
	from{
		transform: translate3d(-250%, 0, 0);
    	}
    to{
    	transform: translate3d(0, 0, 0);
    	}
 }
.animation-a-pro{
	color: #8aac8f;
	font-size: 2.6rem;
	font-weight: 400;
}
.text-right.anim-pro{
	animation-name: anim-pro;
	animation-duration: 2s;
}
@keyframes anim-pro{
	from{
		transform: translate3d(-250%, 0, 0);
    	}
    to{
    	transform: translate3d(0, 0, 0);
    	}
 }
.animation-a-gr{
	color: #345c64;
	font-size: 3.6rem;
	font-weight: 700;
}
.text-right.anim-gr{
	animation-name: anim-gr;
	animation-duration: 2.2s;
}
@keyframes anim-gr{
	from{
		transform: translate3d(-250%, 0, 0);
    	}
    to{
    	transform: translate3d(0, 0, 0);
    	}
 }
.animation-a-pr{
	color: #345c64;
	font-size: 2.6rem;
	font-weight: 400;
}
.text-right.anim-pr{
	animation-name: anim-pr;
	animation-duration: 2.4s;
}
@keyframes anim-pr{
	from{
		transform: translate3d(-250%, 0, 0);
    	}
    to{
    	transform: translate3d(0, 0, 0);
    	}
 }
.animation-a-so{
	color: #39aca7;
	font-size: 3.6rem;
	font-weight: 700;
}
.text-right.anim-so{
	animation-name: anim-so;
	animation-duration: 2.6s;
}
@keyframes anim-so{
	from{
		transform: translate3d(-250%, 0, 0);
    	}
    to{
    	transform: translate3d(0, 0, 0);
    	}
 }
.animation-a-ev{
	color: #8aac8f;
	font-size: 2.2rem;
	font-weight: 400;
}
.text-right.anim-ev{
	animation-name: anim-ev;
	animation-duration: 3.7s;
}
@keyframes anim-ev{
	from{
		transform: translate3d(-450%, 0, 0);
    	}
    to{
    	transform: translate3d(0, 0, 0);
    	}
 }
 /* text animation */
 @media(max-width: 1080px){
	.logo.text-left{
		display: none;
	}
	.cta-text{
		padding-left: 42px!important;
	}
}
@media(max-width: 575px){
	.navigation.d-flex{
		flex-direction: column;
		/* flex-direction: column; ბურგერის ნავბარის ვერტიკ. განლაგება */
	}
}
@media(min-width: 1199px){
	.social-toggler li,
	.LangSwitcher-lang.toggler{
		display: none;
	}
}
 @media(max-width: 1199px){
 	.social-icon .social-li-fa, .social-icon .social-a-num, .social-icon
	.social-li::after, .social-icon .LangSwitcher-en, .social-icon 
	.LangSwitcher-ka{
		display: none;
	}
	.dropdown-toggle::after{
		/*position: absolute;*/
		display: inline-block!important;
		width: 0!important;
		height: 0!important;
		margin-left: 0.255em!important;
		vertical-align: 0.255em!important;
		content: ""!important;
		border-top: 0.3em solid!important;
		border-right: 0.3em solid transparent!important;
		border-bottom: 0!important;
		border-left: 0.3em solid transparent!important;
	}
	.dropdown-menu{
    	position: relative;
    	top: 100%;
    	left: 0;
    	z-index: 1000;
    	display: none;
    	float: left;
    	min-width: 10rem;
    	padding: 0;
    	margin: 0 0 0;
    	font-size: 1rem;
    	color: #212529;
    	text-align: left;
    	list-style: none;
    	background-color: rgb(255 255 255);
    	background-blend-mode: multiply;
    	background-clip: padding-box;
    	border: 1px solid rgb(255 255 255);
    	border-radius: 0.25rem;
	}
	.dropdown-item{
    	display: block;
    	width: 100%;
    	padding: .7rem 1.5rem;
    	clear: both;
    	font-weight: 400;
    	color: #345c64;
    	text-align: inherit;
    	white-space: nowrap;
    	background-color: transparent;
    	border: 0;
    	text-transform: lowercase;
    	transition: 0.3s;
	}
	.navigation-li{
		border-top: 2px solid #e6e7e8;
	}
	.navbar-collapse{
		margin-top: 6px;
	}
	.navigation-li:nth-child(2),
	.navigation-li:nth-child(3),
	.navigation-li:nth-child(4),
	.navigation-li:nth-child(5),
	.navigation-li:nth-child(6){
		border-top: 1px solid #e6e7e8;
	}
	.navigation-li .navigation-a{
		max-width: 992px;
		color: #345c64;
		text-decoration: inherit;
		padding-left: 0;
		line-height: 3;
		font-size: 18px;
		opacity:1;
	}
	.navigation-li .navigation-a:hover{
		color: #36beb8;
	}
	.circle-about::after, .circle-branding::after, .circle-clients::after, 
	.circle-services::before, .circle-contacts::after, .circle-work::after{
		display: none;
	}

 	.logo.text-left{
		display: none;
	}
	.text-right{
	line-height: 1;
	}
	.animation-a-br{
		font-size: 8vw;
	}
	.animation-a-vi{
		font-size: 8vw;
	}
	.animation-a-pro{
		font-size: 6.75vw;
	}
	.animation-a-gr{
		font-size: 8vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.75vw;
	}
	.animation-a-so{
		font-size: 8vw;
	}
	.animation-a-ev{
		font-size: 5vw;
	}
	.cta-text{
		padding-left: 22px;
	}
	.cta-text h2{
		font-size: 1.3rem!important;
	}
 }
 @media(max-width: 800px){
 	.col-xl-2.sign-anim{
		max-width: 20.666667%!important;
	}
	.text-p{
		font-family: sans-serif;
		color: #606062;
		padding-top: 60px;
		padding-left: 27px;
		padding-top: 20px;
		padding-right: 50px;
		font-size: 23px;
	}
	.col-lg-12 .slick-slider{
		/*display: flex;*/
		padding-top: 0.27vh!important;
	}
	/*animation text opacity (anim on scroll)*/
	.text-left-1{
		position: relative;
		font-family: sans-serif;
		color: rgba(255,255,255,0);
		padding-top: 60px;
		padding-left: 27px;
		font-size: 5.5vw;
		font-weight: 600;
	}
	.text-left-1::before{
		content: attr(data-text);
		position: absolute;
		color: #fff;
		width: 0%;
		overflow: hidden;
		transition: 6s;
		transform-origin: left;
	}
	.text-left-1[data-scroll="in"]::before{
		width: 100%;
	}
	/*animation text opacity (anim on scroll)*/
 }
@media(max-width: 768px){
	.social-fa, .social-num{
    	display: none;
	}
	.text-p{
		font-family: sans-serif;
		color: #606062;
		padding-top: 60px;
		padding-left: 27px;
		padding-top: 20px;
		padding-right: 50px;
		font-size: 23px;
	}
	.col-lg-12 .slick-slider{
		/*display: flex;*/
		padding-top: 0.27vh!important;
	}
	/*animation text opacity (anim on scroll)*/
	.text-left-1{
		position: relative;
		font-family: sans-serif;
		color: rgba(255,255,255,0);
		padding-top: 60px;
		padding-left: 27px;
		font-size: 5.5vw;
		font-weight: 600;
	}
	.text-left-1::before{
		content: attr(data-text);
		position: absolute;
		color: #fff;
		width: 0%;
		overflow: hidden;
		transition: 6s;
		transform-origin: left;
	}
	.text-left-1[data-scroll="in"]::before{
		width: 100%;
	}
	/*animation text opacity (anim on scroll)*/
	.text-right{
		line-height: 1;
	}
	.text-animation{
		padding-top: 11rem;
	}
	.col-xl-2.sign-anim{
		max-width: 21.666667%!important;
	}
	.cta-text h2{
		font-size: 1.6rem!important;
	}
}
@media(max-width: 600px){
		/*animation text opacity (anim on scroll)*/
	.text-left-1{
		position: relative;
		font-family: sans-serif;
		color: rgba(255,255,255,0);
		padding-top: 60px;
		padding-left: 17px;
		font-size: 6.5vw!important;
	}
	.text-left-1::before{
		content: attr(data-text);
		position: absolute;
		color: #fff;
		width: 0%;
		overflow: hidden;
		transition: 6s;
		transform-origin: left;
	}
	.text-left-1[data-scroll="in"]::before{
		width: 100%;
	}
	/*animation text opacity (anim on scroll)*/
	.text-p{
		padding-left: 17px;
		padding-top: 12px;
		padding-right: 22px;
		font-size: 20px;
	}
	.text-right{
		line-height: 0.9;
	}
	.text-animation{
		padding-top: 14rem;
	}
	.anim-ev{
		margin-top: -8px;
	}
}
@media(max-width: 480px){
	.text-left-1{
		padding-top: 60px;
		padding-left: 17px;
		font-size: 6.5vw;
	}
	.text-p{
		padding-left: 17px;
		padding-top: 7px!important;
		padding-right: 22px;
		font-size: 20px!important;
	}
	.slick-slider{
		/*display: flex;*/
		margin-top: -2vh;
	}
	.anim-pro{
		margin-top: -6px;
	}
	.anim-pr{
		margin-top: -7px;
	}
	.anim-ev{
		margin-top: -10px;
	}
	.animation-a-br{
		font-size: 9vw;
	}
	.animation-a-vi{
		font-size: 9vw;
	}
	.animation-a-pro{
		font-size: 6.8vw;
	}
	.animation-a-gr{
		font-size: 9vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.8vw;
	}
	.animation-a-so{
		font-size: 9vw;
	}
	.animation-a-ev{
		font-size: 5.3vw;
	}
	.slogan{
		padding-left: 8px!important;
		padding-right: 12px!important;
		padding-top: 30px!important;
		padding-bottom: 20px!important;
		font-size: 18px!important;
	}
	.text-right{
		line-height: 0.9;
	}
	.text-animation{
		padding-top: 9rem;
	}
	.col-xl-2.sign-anim{
		max-width: 35.666667%!important
	}
	.col-xl-10 .cta-textline-1{
    	font-size: 4vw!important;
	}
	.col-xl-10.cta-text {
	    padding-left: 9px!important;
	    padding-top: 15px!important;
	    text-align: center;
	}
}
@media(max-width: 428px){
	.text-left-1{
		padding-top: 60px;
		padding-left: 6px!important;
		font-size: 6.5vw;
	}
	.text-p{
		padding-left: 6px!important;
		padding-top: 12px;
		padding-right: 22px;
		font-size: 20px;
	}
	.slick-slider{
		/*display: flex;*/
		margin-top: -2vh;
	}
	.anim-pro{
		margin-top: -7px;
	}
	.anim-pr{
		margin-top: -7px;
	}
	.anim-ev{
		margin-top: -8px;
	}
	.animation-a-br{
		font-size: 9vw;
	}
	.animation-a-vi{
		font-size: 9vw;
	}
	.animation-a-pro{
		font-size: 6.8vw;
	}
	.animation-a-gr{
		font-size: 9vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.8vw;
	}
	.animation-a-so{
		font-size: 9vw;
	}
	.animation-a-ev{
		font-size: 5.3vw;
	}
	.slogan{
		padding-left: 8px!important;
		padding-right: 12px!important;
		padding-top: 30px!important;
		padding-bottom: 20px!important;
		font-size: 18px!important;
	}
	.text-right{
		line-height: 0.8;
	}
	.text-animation{
		padding-top: 8rem;
	}
	.col-xl-2.sign-anim{
		max-width: 39.666667%!important;
	}
}
@media(max-width: 420px){
	.text-left-1{
		padding-top: 60px;
		padding-left: 17px;
		font-size: 6.5vw;
	}
	.text-p{
		padding-left: 17px;
		padding-top: 12px;
		padding-right: 22px;
		font-size: 20px;
	}
	.slick-slider{
		/*display: flex;*/
		margin-top: -2vh;
	}
	.anim-pro{
		margin-top: -7px;
	}
	.anim-pr{
		margin-top: -7px;
	}
	.anim-ev{
		margin-top: -10px;
	}
	.animation-a-br{
		font-size: 9vw;
	}
	.animation-a-vi{
		font-size: 9vw;
	}
	.animation-a-pro{
		font-size: 6.8vw;
	}
	.animation-a-gr{
		font-size: 9vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.8vw;
	}
	.animation-a-so{
		font-size: 9vw;
	}
	.animation-a-ev{
		font-size: 5.3vw;
	}
	.slogan{
		padding-left: 8px!important;
		padding-right: 12px!important;
		padding-top: 30px!important;
		padding-bottom: 20px!important;
		font-size: 18px!important;
	}
	.text-right{
		line-height: 0.8;
	}
	.text-animation{
		padding-top: 8rem;
	}
}
@media(max-width: 414px){
	.text-left-1{
		padding-top: 60px;
		padding-left: 17px;
		font-size: 6.5vw;
	}
	.text-p{
		padding-left: 17px;
		padding-top: 12px;
		padding-right: 22px;
		font-size: 20px;
	}
	.slick-slider{
		/*display: flex;*/
		margin-top: -2vh;
	}
	.anim-pro{
		margin-top: -7px;
	}
	.anim-pr{
		margin-top: -7px;
	}
	.anim-ev{
		margin-top: -8px;
	}
	.animation-a-br{
		font-size: 9vw;
	}
	.animation-a-vi{
		font-size: 9vw;
	}
	.animation-a-pro{
		font-size: 6.8vw;
	}
	.animation-a-gr{
		font-size: 9vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.8vw;
	}
	.animation-a-so{
		font-size: 9vw;
	}
	.animation-a-ev{
		font-size: 5.3vw;
	}
	.slogan{
		padding-left: 8px!important;
		padding-right: 12px!important;
		padding-top: 30px!important;
		padding-bottom: 20px!important;
		font-size: 18px!important;
	}
	.text-right{
		line-height: 0.8;
	}
	.text-animation{
		padding-top: 8rem;
	}
}
@media(max-width: 411px){
	.text-left-1{
		padding-top: 60px;
		padding-left: 17px;
		font-size: 6.5vw;
	}
	.text-p{
		padding-left: 17px;
		padding-top: 12px;
		padding-right: 22px;
		font-size: 20px;
	}
	.slick-slider{
		/*display: flex;*/
		margin-top: -2vh;
	}
	.anim-pro{
		margin-top: -7px;
	}
	.anim-pr{
		margin-top: -7px;
	}
	.anim-ev{
		margin-top: -10px;
	}
	.animation-a-br{
		font-size: 9vw;
	}
	.animation-a-vi{
		font-size: 9vw;
	}
	.animation-a-pro{
		font-size: 6.8vw;
	}
	.animation-a-gr{
		font-size: 9vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.8vw;
	}
	.animation-a-so{
		font-size: 9vw;
	}
	.animation-a-ev{
		font-size: 5.3vw;
	}
	.slogan{
		padding-left: 8px!important;
		padding-right: 12px!important;
		padding-top: 30px!important;
		padding-bottom: 20px!important;
		font-size: 18px!important;
	}
	.text-right{
		line-height: 0.8;
	}
	.text-animation{
		padding-top: 8rem;
	}
}
@media(max-width: 390px){
	.text-left-1{
		padding-top: 60px;
		padding-left: 17px;
		font-size: 6.5vw;
	}
	.text-p{
		padding-left: 17px;
		padding-top: 12px;
		padding-right: 22px;
		font-size: 20px;
	}
	.slick-slider{
		/*display: flex;*/
		margin-top: -2vh;
	}
	.anim-pro{
		margin-top: -7px;
	}
	.anim-pr{
		margin-top: -7px;
	}
	.anim-ev{
		margin-top: -10px;
	}
	.animation-a-br{
		font-size: 9vw;
	}
	.animation-a-vi{
		font-size: 9vw;
	}
	.animation-a-pro{
		font-size: 6.8vw;
	}
	.animation-a-gr{
		font-size: 9vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.8vw;
	}
	.animation-a-so{
		font-size: 9vw;
	}
	.animation-a-ev{
		font-size: 5.3vw;
	}
	.slogan{
		padding-left: 8px!important;
		padding-right: 12px!important;
		padding-top: 30px!important;
		padding-bottom: 20px!important;
		font-size: 18px!important;
	}
	.text-right{
		line-height: 0.7;
	}
	.text-animation{
		padding-top: 8rem;
	}
	.col-xl-2.sign-anim{
		max-width: 44.666667%!important;
	}
}
@media(max-width: 360px){
	.text-left-1{
		padding-top: 60px;
		padding-left: 0!important;
		font-size: 6.5vw;
	}
	.text-p{
		padding-left: 0!important;
		padding-top: 12px!important;
		padding-right: 22px!important;
		font-size: 19px!important;
	}
	.slick-slider{
		/*display: flex;*/
		margin-top: -2vh;
	}
	.anim-pro{
		margin-top: -7px;
	}
	.anim-pr{
		margin-top: -7px;
	}
	.anim-ev{
		margin-top: -8px;
	}
	.animation-a-br{
		font-size: 9vw;
	}
	.animation-a-vi{
		font-size: 9vw;
	}
	.animation-a-pro{
		font-size: 6.8vw;
	}
	.animation-a-gr{
		font-size: 9vw;
	}
	.animation-a-pr{
		color: #345c64;
		font-size: 6.8vw;
	}
	.animation-a-so{
		font-size: 9vw;
	}
	.animation-a-ev{
		font-size: 5.3vw;
	}
	.slogan h2{
		font-size: 21px!important;
	}
	.slogan{
		padding-left: 2px!important;
		padding-right: 12px!important;
		padding-top: 30px!important;
		padding-bottom: 20px!important;
		font-size: 18px!important;
	}
	.text-right{
		line-height: 0.7;
	}
	.text-animation{
		padding-top: 8rem;
	}
}
@media(max-width: 1280px){
	.slick-slider{
		/*display: flex;*/
		padding-top: 4.27vh!important;
	}
}
.navbar-light .navbar-toggler-icon {
  background-image: none;
  /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");*/
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus{
  text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled){
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-toggler:focus{
	/*color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);*/
	outline: #000 1px auto;
	/*outline-offset: 0.3px;*/
}

/*ძველი არაანიმირებული ბურგერი.
როგორც კი გავააქტიურებ ეგრევე გადავა თავის საწყის არაანიმირებულ ბურგერზე ისე, რომ წინას წაშლა არ დამჭირდება?*/
/*button:focus {
    outline: 20px dotted;
    outline: 5px auto -webkit-focus-ring-color;*/
/*ძველი არაანიმირებული ბურგერი*/

/* ანიმირებული ბურგერი*/
#wrapper {
	/*background:#0D6FBA;*/
	display:inline-block;
	/*border-radius:500px;*/
	/*margin: 2px;*/
	margin-left: -19.9px;
	position: relative;
  	/*padding:50px;*/
	cursor:pointer;
}
/*.circle {
	width:100px;
	height:100px;
	position:relative;
}*/
.line{
	position: absolute;
	height: 3px;
	width: 60%;
	background: #808080;
	border-radius: 8px;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
	transform: translate3d(-86.5%, 0, 0);
}

/*burger-ის 3 line-ის ერთდროული focus/hover */
/*.navbar-toggler:focus #line{
	background-color: #000;
}*/
/*burger-ის 3 line-ის ერთდროული focus/hover */

.close:hover {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  opacity: 1;
}
.top {
	top:24%;
}
.middle {
	top:46.1%;
}
.bottom {
	top:68.3%;
}
.icon.close .top {	
	top:48%;
	transform: translate3d(-86.5%, 0, 0) rotate(45deg);
	opacity: 1;
}


.icon.close .middle, .icon.close .bottom {
	top:48%;
	transform: translate3d(-86.5%, 0, 0) rotate(-45deg);
	opacity: 1;
	z-index: 1;
}
/* ანიმირებული ბურგერი*/

/*dropdown-sub-toggler-ი*/

.dropdown-toggle[aria-expanded="true"]:after { transform: rotate(180deg); } /*for the animation*/ .dropdown-toggle:after { transition: 0.3s; }

/*dropdown-sub-toggler-ი*/

@media(min-width: 991px){
	.dropdown-toggle::after{
		display: none;
	}
	.social-toggler{
		display: none;
	}
		.cta-textline-1{
		display: none;
	}
}
@media(max-width: 991px){
	.advertising img{
		display: none!important;
	}
	.row .advertising{
		padding-left: 0;
		padding-right: 0;
		margin-top: -1px;
	}
	.container.slogan-1{
		padding-left: 0!important;
		padding-right: 0!important;
		padding-top: 43px!important;
		padding-bottom: 34px!important;
	}
	.row.slogan-1{
		display: flex;
		justify-content: center;
	}
	.text-p{
		font-family: sans-serif;
		color: #606062;
		padding-top: 60px;
		padding-left: 27px;
		padding-top: 20px;
		padding-right: 50px;
		font-size: 23px;
	}
	.col-lg-12 .slick-slider{
		/*display: flex;*/
		padding-top: 0.27vh!important;
	}
	/*animation text opacity (anim on scroll)*/
	.text-left-1{
		position: relative;
		font-family: sans-serif;
		color: rgba(255,255,255,0);
		padding-top: 60px;
		padding-left: 27px;
		font-size: 5.5vw;
		font-weight: 600;
	}
	.text-left-1::before{
		content: attr(data-text);
		position: absolute;
		color: #fff;
		width: 0%;
		overflow: hidden;
		transition: 6s;
		transform-origin: left;
	}
	.text-left-1[data-scroll="in"]::before{
		width: 100%;
	}
	/*animation text opacity (anim on scroll)*/
	.cta-text{
		padding-left: 0!important;
		padding-top: 15px!important;
		text-align: center;
	}
	.cta-text h2{
		font-size: 3.5vw!important;
	}
		.cta-textline{
		display: none;
	}
	/* animation on scroll*/
	.cta-textline-1.prof{
		transform: translateX(150%);
		transition: 5s;
	}
	.cta-textline-1.prof[data-scroll="in"]{
		transform: translateX(0);
	}
	.cta-textline-1.advertising{
		transform: translateX(150%);
		transition: 6s;
	}
	.cta-textline-1.advertising[data-scroll="in"]{
		transform: translateX(0);
	}
	.cta-textline-1.und{
		transform: translateX(150%);
		transition: 6.7s;
	}
	.cta-textline-1.und[data-scroll="in"]{
			transform: translateX(0);
			transition: 6.7s;
	}
	/* animation on scroll*/
}

@media (min-width: 320px){
.flex-lg-row {
    flex-direction: column;
	}
}


/*toggler/burger-ის navbar-ი*/
.social-toggler .d-flex{
	align-items: center;
	padding-right: 39.9px;
}
.social-a-num-num.toggler{
padding-right: 20px;
}
span .ka-lang{
		padding-right: 20px;
}

.LangSwitcher-lang::before{
		position: absolute;
		content: "";
		height:111px;
		width: 1px;
		background-color: #e6e7e8;
		top: 0;
}
.LangSwitcher-ka::after{
		position: absolute;
		content: "";
		height: 111px;
		width: 1px;
		background-color: #e6e7e8;
		top: 0;
}
.LangSwitcher-en-lang.toggler{
		padding-bottom: .5rem!important;
}
.LangSwitcher-lang .social.toggler,
.ka-lang{
font-size: 14px;
color: #345c64;
transition: 0.3s;
}
.fab{
		transition: 0.3s;
		font-size: 25px;
		color: #36beb8;
		padding-right: 20px;
}
.fab:hover{
	color: #345c64;
}
.ka-lang:hover{
		text-decoration: inherit;
		color: #36beb8;
}
.social.toggler{
		align-items: center;
}
.social.toggler{
		padding-left: 20px;
		color: #345c64;
		text-decoration: inherit;
		font-size: 18px;
		transition: 0.3s;
}
	.social-a-num-num.toggler{
	color: #345c64;
		text-decoration: inherit;
		font-size: 18px;
		transition: 0.3s;
}

.social,
.social-a-num-num:hover{
		color: #36beb8;
		text-decoration: inherit;
}
.social-a{
		color: #36beb8;
}
/*toggler/burger-ის navbar-ი*/


.banner img{
	width: 100%;
	display: block;
	height: 100%;
	object-fit: cover;
}
.row .advertising{
	padding-left: 0;
	padding-right: 0;
}
.container.advertising {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.slogan{
	padding-left: 20px;
	padding-right: 47px;
	padding-top: 49px;
	padding-bottom: 20px;
	box-sizing: border-box;
	/*background-color: #e6e7e8;*/
	font-size: 18px;
	font-family: sans-serif;
}
.slogan h2{
	font-size: 22px;
	margin-left: 0;
	width: max-content;
	font-weight: 600;
	color: #39aca7;
}
.Advertising-text{
	margin-top: 20px;
}
.Advertising-text1,
.Advertising-text2{
	margin-top: 23px;
}
@media(min-width: 1520px){
	.logo-left{
	margin-left: -0.938rem;
}
.text-left .text-left{
	font-size: 2.2rem;
	padding-top: 20.5rem;
	margin-left: -0.938rem;
	}
	.text-animation{
		transform: translateX(0.938rem);
	}
}
@media (min-width: 1920px){
	.text-right{
		line-height: 1.1;
	}
	.text-left .text-left{
		font-size: 2.2rem;
		padding-top: 36.5rem;
		margin-left: -0.938rem;
		}
	.text-animation{
		padding-top: 7rem;
	}
	.animation-a-br{
		font-size: 5rem;
	}
	.animation-a-vi{
		font-size: 5rem;
	}
	.animation-a-pro{
		font-size: 3.6rem;
	}
	.animation-a-gr{
		font-size: 5rem;
	}
	.animation-a-pr{
		font-size: 3.6rem;
	}
	.animation-a-so{
		font-size: 5rem;
	}
	.animation-a-ev{
		font-size: 3rem;
	}
	.container.slogan{
		margin-left: 0;
	}
	.slogan{
		padding-left: 20px;
		padding-right: 113px;
		padding-top: 61px;
		padding-bottom: 20px;
		box-sizing: border-box;
		/*background-color: #e6e7e8;*/
		font-size: 18px;
		font-family: sans-serif;
	}
	/*animation text opacity (anim on scroll)*/
	.text-left-1{
		position: relative;
		font-family: sans-serif;
		color: rgba(255,255,255,0);
		padding-top: 60px;
		padding-left: 104px;
		font-size: 90px;
		font-weight: 600;
	}
	.text-left-1::before{
		content: attr(data-text);
		position: absolute;
		color: #fff;
		width: 0%;
		overflow: hidden;
		transition: 6s;
		transform-origin: left;
	}
	.text-left-1[data-scroll="in"]::before{
		width: 100%;
	}
	/*animation text opacity (anim on scroll)*/
	.text-p{
		font-family: sans-serif;
		color: #606062;
		padding-top: 60px;
		padding-left: 104px;
		padding-top: 30px;
		padding-right: 118px;
		font-size: 29px;
	}
	.col-xl-2.sign-anim{
		max-width: 12.666667%!important;
	}
	.cta-text h2{
		font-size: 2rem!important;
	}
}
/* slogan */

/* slogan-1 */
.sign-anim img{
	width: 130px;
}
/* anim on scroll*/
.col-xl-2.sign-anim{
	max-width: 14.666667%;
	transition: 3s .4s;
	opacity: 0;
}
.col-xl-2.sign-anim[data-scroll="in"]{
	max-width: 14.666667%;
	opacity: 1;
}
/* anim on scroll*/

.container.slogan-1{
	padding-left: 116px;
	/*padding-right: 58px;*/
	padding-top: 68px;
	padding-bottom: 54px;
}
.row.slogan-1{
	align-items: center;
}
.cta-text h2{
	font-size: 1.7rem;
	color: #727376;
	/*transition: 1s;*/
}
/* animation on scroll*/
.cta-textline.prof{
	transform: translateX(150%);
	transition: 5s;
}
.cta-textline.prof[data-scroll="in"]{
	transform: translateX(0);
}
.cta-textline.advertising{
	transform: translateX(150%);
	transition: 6s;
}
.cta-textline.advertising[data-scroll="in"]{
	transform: translateX(0);
}
/* animation on scroll*/

/* slogan-1 */

/*ჰორიზონტალური სკროლის პრობლემა*/
.row.advertising{
		display: -webkit-box;
  		display: -ms-flexbox;
  		display: flex;
  		-ms-flex-wrap: wrap;
  		flex-wrap: wrap;
  		margin-right: -15px;
  		margin-left: -15px;
 }
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*margin-right: -15px
    margin-left: -15px bootstrap default*/
    margin-right: 0;
    margin-left: 0;
}


.container-fluid {
    width: 100%;
    /*padding-right: 15px;
    padding-left: 15px; bootstrap default. სავარაუდოდ ესე უნდა შეიცვალოს 39px 38px?*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*ჰორიზონტალური სკროლის პრობლემა*/
