/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1500px;
}
.LangSwitcher .social-li,
.ka{
	font-size: 14px;
	color: #345c64;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.social-li-fa .fab{
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 25px;
	padding-right: 0;

}
.ka:hover{
	text-decoration: inherit;
	color: #36beb8;
}
.social-li-fa{
	/*margin-right: 20px;*/
	/* ფეისბუკის მიწევა მარჯვნივ */
}
.fixed-top{
	position: -webkit-sticky;
	position: sticky;
	background-color: #fff;
}
	.navbar .nav-item:hover .nav-link{
		color: #36beb8;
	}
	.navbar .nav-item:hover .nav-link::before{
		content: "";
		position: absolute;
		border: .1em solid #36beb8;
		width: 4.5em;
		height: 4.5em;
		margin-top: -1.5em;
    	margin-left: -.5em;
	    border-radius: 50%;
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
		opacity:1;
	}

.dropdown-menu.show {
  display: block;
}
.navigation-a:hover::after{
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	opacity:1;
}
.circle-services:hover::before{
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	opacity:1;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1.5rem 1rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgba(52,92,100,.85);
    background-blend-mode: multiply;
    background-clip: padding-box;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    border-radius: 0.25rem;
	margin-top: 41px;
}
.dropdown-item{
    display: block;
    width: 100%;
    padding: .7rem 1.5rem;
    clear: both;
    font-weight: 600;
    color: #FFF;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.dropdown-item:hover, .dropdown-item:focus{
    color: #bdbfc1;
    text-decoration: none;
    background-color: transparent;
}
.logo{
	width: 100px;
}
.social-icon{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.navigation-a{
	color: #345c64;
	text-decoration: inherit;
	padding: 0 20px;
	font-size: 18px;
}
.navigation-a:hover{
    color: #36beb8;
    text-decoration: inherit;
}
.circle-about::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -3.6em;
    border-radius: 50%;
    -webkit-transform: scale(.2);
        -ms-transform: scale(.2);
            transform: scale(.2);
    opacity: 0;
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,-webkit-transform .3s;
    -o-transition: transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s,-webkit-transform .3s;
}
.circle-work::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.50em;
    margin-left: -3.4em;
    border-radius: 50%;
    -webkit-transform: scale(.2);
        -ms-transform: scale(.2);
            transform: scale(.2);
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}
.circle-branding::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -4.25em;
    border-radius: 50%;
    -webkit-transform: scale(.2);
        -ms-transform: scale(.2);
            transform: scale(.2);
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}
.circle-clients::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -3.75em;
    border-radius: 50%;
    -webkit-transform: scale(.2);
        -ms-transform: scale(.2);
            transform: scale(.2);
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}
.circle-services::before{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -.5em;
    border-radius: 50%;
    -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
}

.circle-contacts::after{
	content: "";
	position: absolute;
	border: .1em solid #36beb8;
	width: 4.5em;
	height: 4.5em;
	margin-top: -1.5em;
    margin-left: -4.2em;
    border-radius: 50%;
    -webkit-transform: scale(.2);
        -ms-transform: scale(.2);
            transform: scale(.2);
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
 }
.social-li{
	padding-left: 20px;
	color: #345c64;
	text-decoration: inherit;
	font-size: 18px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.social-a-num{
	color: #345c64;
	text-decoration: inherit;
	font-size: 18px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.social-li,
.social-a-num:hover{
	color: #36beb8;
	text-decoration: inherit;
}
.social-a{
	color: #36beb8;
}
a:hover{
	color: #353536;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.social-a-num{
	padding-right: 20px;
}
span .ka{
	padding-right: 20px;
}

.social-li::after{
	position: absolute;
	content: "";
	height: 100%;
	width: 1px;
	background-color: #e6e7e8;
	top: 0;
}
.social-li:nth-child(1)::after,
.social-li:nth-child(3)::after{
	display: none;
}
.LangSwitcher-en{
	padding-bottom: .5rem!important;
}

.banner{
	background-position: center;
    background-size: cover;
    height: 1000px;
}
.navbar-light .navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus{
  text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled){
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar-toggler:focus{
	outline: #000 1px auto;
}
#wrapper {
	display:inline-block;
	margin: 2px;
	position: relative;
	cursor:pointer;
}
.line{
	position: absolute;
	height: 3px;
	width: 60%;
	background: #808080;
	border-radius: 8px;
	-webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
	-o-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
	-webkit-transform: translate3d(-86.5%, 0, 0);
	        transform: translate3d(-86.5%, 0, 0);
}
.close:hover {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  opacity: 1;
}
.top {
	top:24%;
}
.middle {
	top:46.1%;
}
.bottom {
	top:68.3%;
}
.icon.close .top {	
	top:48%;
	-webkit-transform: translate3d(-86.5%, 0, 0) rotate(45deg);
	        transform: translate3d(-86.5%, 0, 0) rotate(45deg);
	opacity: 1;
}


.icon.close .middle, .icon.close .bottom {
	top:48%;
	-webkit-transform: translate3d(-86.5%, 0, 0) rotate(-45deg);
	        transform: translate3d(-86.5%, 0, 0) rotate(-45deg);
	opacity: 1;
	z-index: 1;
}
.dropdown-toggle::after{
		/*position: absolute;*/
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		content: "";
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;
	}

.dropdown-toggle[aria-expanded="true"]:after { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); } /*for the animation*/ .dropdown-toggle:after { -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

@media(min-width: 992px){
	.dropdown-toggle::after{
		display: none;
	}
}


@media(max-width: 992px){
	.dropdown-menu{
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1.5rem 1rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgba(52,92,100,.85);
    background-blend-mode: multiply;
    background-clip: padding-box;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    border-radius: 0.25rem;
	margin-top: 41px;
}
.dropdown-item{
    display: block;
    width: 100%;
    padding: .7rem 1.5rem;
    clear: both;
    font-weight: 600;
    color: #FFF;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
	.navigation-li .navigation-a{
		max-width: 992px;
		color: #345c64;
		text-decoration: inherit;
		padding-left: 0;
		line-height: 50px;
		font-size: 18px;
		opacity:1;
	}
	.circle-about::after, .circle-branding::after, .circle-clients::after, 
	.circle-services::before, .circle-contacts::after{
		display: none;
	}
	
}
	

@media(min-width: 992px){
	.social-toggler{
		display: none;
	}
}

@media (max-width: 768px) {
	.social-fa, .social-num{
    display: none;
	}
}
@media (max-width: 992px){
	.social-icon .social-li-fa, .social-icon .social-a-num, .social-icon .social-li::after,.social-icon .LangSwitcher-en, .social-icon .LangSwitcher-ka{
		display: none;
	}
}
@media (min-width: 320px){
.flex-lg-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	}
}

.social-toggler .d-flex{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 20px;
}
.social-a-num-num.toggler{
padding-right: 20px;
}
span .ka-lang{
		padding-right: 20px;
}

.LangSwitcher-lang::before{
		position: absolute;
		content: "";
		height: 110px;
		width: 1px;
		background-color: #e6e7e8;
		top: 0;
}
.LangSwitcher-ka::after{
		position: absolute;
		content: "";
		height: 110px;
		width: 1px;
		background-color: #e6e7e8;
		top: 0;
}
.LangSwitcher-en-lang.toggler{
		padding-bottom: .5rem!important;
}
.LangSwitcher-lang .social.toggler,
.ka-lang{
font-size: 14px;
color: #345c64;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
.fab{
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		font-size: 25px;
		color: #36beb8;
		padding-right: 20px;
}
.fab:hover{
	color: #345c64;
}
.ka-lang:hover{
		text-decoration: inherit;
		color: #36beb8;
}
.social.toggler{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.social.toggler{
		padding-left: 20px;
		color: #345c64;
		text-decoration: inherit;
		font-size: 18px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
}
	.social-a-num-num.toggler{
	color: #345c64;
		text-decoration: inherit;
		font-size: 18px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
}

.social,
.social-a-num-num:hover{
		color: #36beb8;
		text-decoration: inherit;
}
.social-a{
		color: #36beb8;
}